body{     
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* selecting multiple elements */
header,footer{
    background-color: rgb(207, 189, 166);
}
.site-title{
    color: rgb(27, 55, 107);
}
/* Adding id to image */

 #my-image{         
    box-shadow: 0px 0px 2px 1px black;
 }

 /* nth child selector */
 .site-square li:nth-child(odd) 
  {
    background-color: rgb(140, 140, 196);
  }
  

/* adding a square to list items */

.site-square{
    list-style: square;
    }   
          
 /* Styling the nav */
 nav ul a,
 nav ul li
 {         
     text-decoration: none;
     list-style: none;
     
}
 nav ul a{
         border: 1px solid rgb(235, 110, 110);
         background: rgb(202, 208, 226);

 }
     
 nav ul li a:hover,
 nav ul li a:focus{
         background-color: rgb(238, 182, 238);
  }